# Byte-compiled / optimized
__pycache__/

# Distribution / packaging
build/
dist/
sdist/
.eggs/*
*.egg-info

# Unit test / coverage reports
.cache
.coverage*
.pytest_cache/

# Developer environments
.idea
.vscode
.env
.venv
.DS_Store
.mypy_cache

local-worker/
