assets_keys.json
algo_keys.json
algo_constant.zip
algo_random_forest.zip
algo_constant.tar.gz
metrics.zip
obj_keys.json
algo_constant_keys.json
algo_random_forest_keys.json
scripts/train.csv
assets/train_data_samples
assets/test_data_samples
assets/model
assets/sandbox
assets/pred-test.csv
assets/pred-train.csv
assets/perf-train.json
assets/perf-test.json
assets/logs
sandbox
model/model
pred/perf.json
