name: Python

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  lint_and_tests:
    name: Lint and tests
    runs-on: ubuntu-latest
    env:
      XDG_RUNTIME_DIR: /home/runner/.docker/run
      DOCKER_HOST: unix:///home/runner/.docker/run/docker.sock
    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install Docker rootless
        run: |
          sudo systemctl disable --now docker.service
          export FORCE_ROOTLESS_INSTALL=1
          curl -fsSL https://get.docker.com/rootless | sh
      - name: Install tools
        run: pip install flake8 wheel docstring-parser==0.7.3
      - name: Lint
        run: flake8 substra
      - name: Install substra
        run: pip install -e .[test]
      - name: Test
        run: |
          export PATH=/home/runner/bin:$PATH
          /home/runner/bin/dockerd-rootless.sh &  # Start Docker rootless in the background
          python setup.py test
      - name: Generate and validate CLI documentation
        run: |
          python bin/generate_cli_documentation.py --output-path references/cli.md.tmp
          diff references/cli.md references/cli.md.tmp
          cmp --silent references/cli.md references/cli.md.tmp
      - name: Generate and validate SDK documentation
        run: |
          python bin/generate_sdk_documentation.py --output-path='references/sdk.md.tmp'
          cmp --silent references/sdk.md references/sdk.md.tmp
          python bin/generate_sdk_schemas_documentation.py --output-path references/sdk_schemas.md.tmp
          cmp --silent references/sdk_schemas.md references/sdk_schemas.md.tmp
          python bin/generate_sdk_schemas_documentation.py --models --output-path='references/sdk_models.md.tmp'
          cmp --silent references/sdk_models.md references/sdk_models.md.tmp
